/* font-family: 'Mulish'; */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish';
}

header {
    max-width: 1175px;
    height: 570px;
    margin: 50px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.travel-nav-header {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

nav img {
    height: 20px;
    width: 33px;
}

nav span {
    color: #FF5400;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #FF5400;
}

.travel-location-banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80), rgba(19, 19, 24, 0.00)), url(./Images/Banner.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 530px;
    border-radius: 16px;
    width: auto;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.travel-location-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.travel-location-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.input-area-design {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-input-area {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

.input-area-design {
    display: flex;
    justify-content: space-around;
}

.input-area-design input {
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    padding-left: 9px;
}

.input-area-design select {
    width: 130px;
    height: 38px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    padding-left: 9px;
}

.input-area-design button {
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFFFFF;
    padding: 9px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

main {
    max-width: 1175px;
    height: auto;
    margin: 50px auto;
}

.Our-Popular-Tours {
    display: flex;
    height: 500px;
    margin: 100px auto;
    gap: 50px;
}

.popular-tours-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.popular-tours-descripiton {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}


.popular-tour-btn {
    border-radius: 8px;
    background: #FF5400;
    height: 50px;
    width: 150px;
    border: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.popular-tours-img img {
    width: 450px;
    height: 500px;
}

/* strat choose us section */
.choose-text {
    text-align: center;
}

.choose-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.choose-descripiton {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 250px;
}

.choose-container {
    display: grid;
    grid-template-columns: 550px 1fr;
    margin: 20px 0px;
    gap: 20px;
}

.choose-card1 {
    height: 250px;
    width: 500px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
}

.choose-card1 h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 20px 0px;
}
.choose-card2 {
    height: 250px;
    width: 500px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(193, 251, 99, 0.05);
    padding: 20px;
}

.choose-card2 h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 20px 0px;
}
.choose-card3 {
    height: 150px;
    width: 500px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(99, 203, 251, 0.05);
    padding: 20px;
    margin-left: 250px;
}

.choose-card3 h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 20px 0px;
}



/* ---------------------------------responsive area --------------------------------------*/
@media screen and (max-width:600px) {
    header {
        width: 330px;
        margin: 50px auto;
    }

    .travel-location-title {
        font-size: 22px;
        text-align: center;
    }

    .travel-location-description {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin: 20px 0px;
    }

    .input-area-design {
        flex-direction: column;
        gap: 10px;
    }

    .input-area-design input {
        width: 230px;
        height: 40px;
        padding-left: 9px;
    }

    .input-area-design select {
        width: 238px;
        height: 40px;
        padding-left: 9px;
    }

    .input-area-design button {
        width: 238px;
        height: 40px;
        padding-left: 9px;
    }

    nav>ul {
        display: none;
    }

    .Our-Popular-Tours {
        flex-direction: column;
        width: 330px;
    }

    .popular-tours-img img {
        width: 330px;
        height: 340px;
        display: flex;
    }

    .popular-tours-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popular-tours-title {
        font-size: 20px;
        font-weight: 800;
    }

    .popular-tours-descripiton {
        font-size: 14px;
        font-weight: 400;
    }
    .choose-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .choose-title {
        color: #131318;
        font-size: 20px;
    }
    
    .choose-descripiton {
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        width: 330px;
        height: 50px;
    }
    .choose{
        margin-top: 1000px;
        width: 330px;
    }
    

}